<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">

    <title>Clientes</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Clientes</h2>
        <table class='table text-center'>
            <thead class='thead-light'>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Telefone</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($clientes as $cliente) { ?>
                    <tr>
                        <td><?php echo $cliente['id']; ?></td>
                        <td><?php echo $cliente['nome']; ?></td>
                        <td><?php echo $cliente['email']; ?></td>
                        <td><?php echo $cliente['telefone']; ?></td>
                        <td>
                            <a href="#"><button class="btn btn-primary">Editar</button></a>
                            <a href="#>"><button class="btn btn-danger">Deletar</button></a>
                        </td>
                    </tr>
                <?php } ?>
                <form action="#" method="POST">
                    <tr class="bg-white">
                        <td><input class="form-control" type="text" name="nome" placeholder="Nome"></td>
                        <td colspan="2"><input class="form-control" type="text" name="email" placeholder="Email"></td>
                        <td><input class="form-control" type="text" name="telefone" placeholder="Telefone"></td>
                        <td><input class="btn btn-success" type="submit" value="Cadastrar"></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</body>
</html>