<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Clientes</h2>
        <table class='table table-hover'>
            <thead class='thead-dark'>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Telefone</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($clientes as $cliente) { ?>
                    <tr>
                        <td><?php echo $cliente['id']; ?></td>
                        <td><?php echo $cliente['nome']; ?></td>
                        <td><?php echo $cliente['email']; ?></td>
                        <td><?php echo $cliente['telefone']; ?></td>
                        <td>
                            <a href="clientes/edit/<?php echo $cliente['id'] ?>"><button class="btn btn-primary">Editar</button></a>
                            <a href="clientes/delete/<?php echo $cliente['id'] ?>"><button class="btn btn-danger">Apagar</button></a>
                        </td>
                    </tr>
                <?php } ?>
                <form class="form-horizontal" action="/basicCRUD/modules/record" method="POST" role="form">
                    <tr class="bg-primary">
                        <td><input type="text" name="nome" class="form-control" id="title" placeholder="Nome" required></td>
                        <td colspan="2"><input type="text" name="email" class="form-control" id="email" placeholder="Email" required></td>
                        <td><input type="text" name="telefone" class="form-control" id="telefone" placeholder="Telefone" required></td>
                        <td><input type="submit" value="Adicionar" class="btn btn-default"></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</body>
</html>